
<div class="form-container">
  <h1>Sign In</h1>
  <div class="container">
    <% if flash["notice"].present? %>
        <p><%= flash["notice"] %></p>
    <% end %>
  </div>

  <%= form_tag "/sessions" do  %>
    <div class="form-group">
      <%= label_tag :email, nil, class: 'sr-only' %>
      <%= text_field_tag :email, '', autofocus: true, size: 40, required: true, placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class: 'sr-only' %>
      <%= password_field_tag :password, '', size: 40, required: true, placeholder: 'Password' %>
    </div>
    <%= submit_tag "Sign In" %>
   <% end %>
</div>
