<%= form_for @lesson do |form| %>

    <p>
      <%= form.label :hash_tag %>
      <br>
      <%= form.text_field :hash_tag, size: 80, autofocus: true %>
    </p>

    <p>
      <%= form.label :created_at %>
      <br>
      <%= form.text_field :created_at %>
    </p>

    <% (1..5).each do |i| %>
        <p>
          <%= form.label ("t"+i.to_s).to_sym %>
          <br>
          <%= form.text_area ("t"+i.to_s).to_sym, rows: 4, cols: 80 %>
        </p>
    <% end %>

    <p><%= form.submit %></p>

<% end %>
