<h1>
  <%= @lesson.hash_tag %>
  <small>
    <%= link_to "Edit This Lesson", edit_lesson_path(@lesson.id) %>
    <%= link_to "Delete This Lesson", lesson_path(@lesson.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><strong>Created At:</strong> <%= @lesson.created_at %></p>

  <p><strong>Tweets: </strong></p>
  <div class="jumbotron">
    <!--if not admin show text, if admin show link to edit-->
    <% @lesson.tweets.each do |tweet| %>
        <p><%= link_to tweet.text, edit_tweet_path(tweet.id) %></p>
    <% end %>
  </div>
</div>
