<h1>
  <%= @lesson.hash_tag %>
  <small>
    <%= link_to "Edit This Lesson", edit_lesson_path(@lesson.id) %>
    <%= link_to "Delete This Lesson", lesson_path(@lesson.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><strong>Created At:</strong> <%= @lesson.created_at %></p>

  <p><strong>Tweets: </strong></p>
  <% (1..10).each do |i| %>
      <% if (@lesson['t'+i.to_s]) %>
        <p><strong><%= 'Tweet ' + i.to_s %></strong> <%= @lesson['t'+i.to_s] %></p>
      <% end %>
  <% end %>

</div>
