<%= form_tag "/educatees", :method => :post do %>

    <p>
      <%= label_tag :hash_tag, "Hash Tag (for example: #betterwhiteperson)" %>
      <br>
      <%= text_field_tag :hash_tag, "", :size => 50 %>
    </p>   

    <p>
      <%= label_tag :twitter_handle, "I want to educate (for example: @hater)" %>
      <br>
      <%= text_field_tag :twitter_handle, "", :size => 15 %>
    </p>

    <input type="submit" value="Educate!" class="btn btn-danger">

<% end %>
