<h2>Add to Block List</h2>

<%= form_for @list, url: {action: "create"} do |f| %>
	<p>
      <%= f.label 'Twitter Username' %> 
      <%= f.text_field :user_name, size: 30, autofocus: true %>
    </p>

    <p>
    	<%= f.label 'Block this user from sending tweets?' %>
    	<%= f.check_box :can_send, {}, false, true %>
    </p>

    <p>
    	<%= f.label 'Block this user from receiving tweets?' %>
    	<%= f.check_box :can_receive, {}, false, true %>
    </p>

    <p><%= f.submit 'Add Block', :class => "btn btn-primary"%></p>
<% end %>