<h1>Sign Up</h1>

<%= form_for @user do |f| %>

    <p><%= f.label :name %><%= f.text_field :name, size: 40, autofocus: true, required: true %></p>
    <p><%= f.label :email %><%= f.text_field :email, size: 40, required: true %></p>
    <p><%= f.label :password %><%= f.password_field :password, size: 40, required: true %></p>
    <p><%= f.label :password_confirmation %><%= f.password_field :password_confirmation, size: 40, required: true %></p>
    <p><%= f.label :how_did_you_find_tweechable_? %><%= f.text_field :how_found_tweechable, size: 140, required: true %></p>
    <p><%= f.submit "Sign Me Up!" %></p>

<% end %>
