<h2>Why did you build Tweechable?</h2>
<p>We're working on a Twitter service called @tweechable that can be loaded with educational content on specific issues
  important to affinity groups that get a common set of ignorant questions on Twitter.  Instead of having to explain
  respectability politics in reaction to angry protests, for example, to every person who asks you every time, you can
  simply ask @tweechable to drop some knowledge (a short syllabus of tweets and links) into the conversation about the
  subject.  @tweechable will then come in and take over the conversation for you.
</p>

<h2>Here's an example exchange with a topic we've seen a lot here in Chicago:</h2>
<div class="jumbotron sample-tweets">
  <div class="tweet-col">
    <div class="col-text">
      Someone makes an ignorant question directed toward an activist
    </div>
    <div class="sample-tweet">
      <%= image_tag "ignorant-avatar.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@IgnorantTweeter</span>: Hey <span class="handle">@OverworkedActivist</span>, why are you so focused on police brutality in Chicago?
        Why aren’t you talking about black-on-black crime?
      </div>
    </div>
  </div>

  <div class="tweet-col">
    <div class="col-text">
      The activist mentions <span class="handle">@tweechable</span>, which provides a lesson.
    </div>
    <div class="sample-tweet">
      <%= image_tag "protester-avatar.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@OverworkedActivist</span>: Hey <span class="handle">@tweechable</span>, explain <span class="handle">#blackonblackviolencenarrative</span> to <span class="handle">@IgnorantTweeter</span>.
      </div>
    </div>
  </div>

  <div class="tweet-col">
    <div class="col-text">
      The Tweechable bot responds, providing educational information.
    </div>
    <div class="sample-tweet">
      <%= image_tag "logo.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@tweechable</span>: Hi <span class="handle">@IgnorantTweeter</span>, <span class="handle">@OverworkedActivist</span> asked me to get in touch with you about black-on-black violence.
      </div>
    </div>
    <div class="sample-tweet">
      <%= image_tag "logo.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@tweechable</span>: Sure, >90% blacks homicides are other blacks, but it's the same for every race in the US.  82% of white
        homicides are other whites, this is the result of segregation.  bit.ly/BoBViol1
      </div>
    </div>
    <div class="sample-tweet">
      <%= image_tag "logo.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@tweechable</span>: also consider that many people -- black, white, others, are devoting their lives to interrupting violence
        in cities.  We honor their efforts, but our focus is police violence. bit.ly/BoBViol2
      </div>
    </div>
    <div class="sample-tweet">
      <%= image_tag "logo.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@tweechable</span>: finally, consider the structural issues that lead to a neighborhood having high incidence of violent crime:
        economic oppty, school & mental health $ bit.ly/BoBViol3
      </div>
    </div>
    <div class="sample-tweet">
      <%= image_tag "logo.jpg", class: "avatar" %>
      <div class="text">
        <span class="handle">@tweechable</span>: if you have other questions on the issue, i'm happy to help further, or you can explore the syllabus
        here: bit.ly/BoBViolSyl
      </div>
    </div>
  </div>
</div>

<p>
  Any user affiliated with our project could generate a syllabus for any content area through a web interface we're
  building - no technical knowledge is required.  We've heard feedback and want to extend this to multiple affinity
  groups: women who experience harassment and ignorance; Muslims who experience xenophobia and ignorance; etc.
</p>

<h2>The hope is that there will be impact in three areas:</h2>
<ul>
  <li>
    <b>Self-care of activists</b> - rather than stress over the time spent responding to haters OR the frustration at having
    them continue to spew ignorance, they can rest easier and focus on more important things (“save your energy
    so you can fight the system”)
  </li>
  <li>
    <b>Targets of our Tweet bursts</b> - the direct targets of the Tweet bursts would be educated
  </li>
  <li>
    <b>Onlookers to the discussion</b> - anyone following the thread will have more targeted resources and education about the issue
  </li>
</ul>