<%= form_for @lesson do |form| %>

    <p>
      <%= form.label 'hash tag for example #betterwhiteperson' %>
      <br>
      <%= form.text_field :hash_tag, size: 50, autofocus: true %>
    </p>

    <p>
      <%= form.label :category %>
      <br>
      <%= form.text_field :category %>
    </p>

    <p>
      <%= form.label :description %>
      <br>
      <%= form.text_field :description %>
    </p>

    <p>
      <%= form.label :intro %>
      <br>
      <%= form.text_field :intro %>
    </p>

    <p><%= form.submit :class => "btn btn-primary"%></p>

<% end %>

