<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-inline" role="search">
    <div class="form-group">
      <%= form_tag lessons_url, :method => :get do %>
          <%= text_field_tag :keyword, '', placeholder: 'Search a lesson...', class:'form-control' %>
      <% end %>
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </form>
  </div>
  <div class="col-md-4"></div>

</div>

<br>
<div class="row">
  <% @lessons.each do |lesson| %>
      <div class="col-md-4">
        <h3><%= link_to lesson.hash_tag, lesson_path(lesson.id) %></h3>
        <% lesson.tweets.each do |tweet| %>
        <p><%= tweet.text %></p>
        <% end %>
      </div>
  <% end %>
</div>

<%= will_paginate %>
