<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-inline" role="search">
    <div class="form-group">
      <%= form_tag lessons_url, :method => :get do %>
          <%= text_field_tag :keyword, '', placeholder: 'Search a lesson...', class:'form-control' %>
      <% end %>
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </form>
  </div>
  <div class="col-md-4"></div>

</div>

<br>
<div class="row">
  <% if params[:keyword].present? #if this is a search %>
    <h2>Lessons Matching: "<i><%= params[:keyword] %></i>"</h2>
  <% end %>
  <% unless @lessons.empty? %>
    <% @lessons.each do |lesson| %>
        <div class="col-md-4">
          <h3><%= link_to lesson.hash_tag, lesson_path(lesson.id) %></h3>
          <% lesson.tweets.each do |tweet| %>
          <p><%= tweet.text %></p>
          <% end %>
        </div>
    <% end %>
  <% else %>
    No results found! Consider creating a new lesson if you're looking for something worthwhile!
  <% end %>
</div>

<%= will_paginate %>
