<% flash.each do |name, msg| -%>
  <div class = "alert alert-<%= name %>">
    <%= msg %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>

<h1>
  <%= @lesson.hash_tag %>
  <% if session["user_id"].present? %>
    <small>
      <% if User.find_by(id: session["user_id"]).admin %>
        <%= link_to "Edit This Lesson", edit_lesson_path(@lesson.id) %>
        <%= link_to "Delete This Lesson", lesson_path(@lesson.id), :method => :delete %>
      <% end %>
    </small>
  <% end %>
</h1>

<div class="details">
  <p><strong><%= @lesson.description %></strong></p>
  <p><strong>Created At:</strong> <%= @lesson.created_at %></p>
  <p><strong>Created by: <%= @creator %></strong></p>
  <p><strong>Last Posted: </strong><%= @lesson.posted_at %>
  <% if @lesson.posted_at.exists? %>
    (<%= link_to "Twitter Thread", @lesson.thread_link %>)
  <% end %></p>
  <p><strong>Edited by: </strong></p>
  <ul>
    <% @contributors.each do |name| %>
    <li><%= name %></li>
    <% end %>
  </ul>
  <p><strong>Approved: </strong> <% if @lesson.approved ? "Yes" : "No" %></p>
  <p><strong>Intro Tweet:</strong> <%= @lesson.intro %></p>
  <p><strong>Tweets: </strong></p>
  <div class="jumbotron">
    <% @lesson.tweets.each do |tweet| %>
      <%= raw tweet_and_url(tweet) %>
    <% end %>
  </div>

  <% if @lesson.approved && @lesson.needs_update && User.find_by(id: session["user_id"]).admin %> 
    <h1>
      <%= link_to "Publish Lesson", publish_lesson_path(@lesson) %>
    </h1>
  <% end %>

</div>