<!DOCTYPE html>
<html>
<head>
  <title>Tweechable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name ="description" content="Tweechable Moments is a self-care tool for members of marginalized groups who receive ignorant comments on twitter. Rather than responding to insensitive comments, users can loop the tweechable bot into the conversation with themed hashtags, such as #TechNotAMeritocracy or #RefugeesWelcome. Each hashtag triggers an automated series of empathetic, educational tweets that challenge misconceptions and sterotypes. Users can view lessons, upload their own lessons to tweechable or suggest edits through our website.">
  <meta name="keywords" content="Twitter, Social Media, Self-Care, Microaggressions, Stereotypes, Ignorance, Activists, Social Justice, Education, Marginalized Groups, Social Good">
</head>
<body>

  <%= render 'shared/navigation' %>

  <div class="container-fluid">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

  <hr />
  <p align="center">Copyright &copy; Tweechable  2016-2017</p>

</body>
</html>
