<!DOCTYPE html>
<html>
<head>
  <title>Tweechable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= render 'shared/navigation' %>

  <div class="container-fluid">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

  <hr />
  <p align="center">Copyright &copy; Tweechable  2016-2017</p>

</body>
</html>
